<% if @response_code.present? && @response_code == 200 %>
  $('#result').html('<div class="panel panel-info"><div class="panel-heading">Result</div><div class="panel-body">Success: ASIN is valid</div></div>');
<% elsif @response_code.present? && @response_code != 200 %>
  $('#result').html('<div class="panel panel-info"><div class="panel-heading">Result</div><div class="panel-body">Not found: ASIN is not valid</div></div>');
<% else %>
  var error_string = "<%= @errors.join('<br/>') %>";
  $('#result').html('<div class="panel panel-danger"><div class="panel-heading">Error</div><div class="panel-body">' + error_string + '</div></div>');
<% end %>